meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Document
.home.row
  .col
    center
      h2 Anyone, anywhere can order a garbage or sewage pickup service
    form(action)
      .row.input-section
        .col-8
        input.form-control.col-7(type="email", placeholder="Enter Email ...")
        .col-4
          input.btn#order-btn(type="submit", value="Start free trial")
    div
      p#try.
        
        Try Stay Clean free for 3 days, no credit card required. By entering your email, you agree to receive marketing emails from Stay Clean.
        
  .col
    img.img-fluid(src="../assets/garbage.jpg", alt)