doctype html
html
    head
        link(rel="stylesheet", href="../public/css/bootstrap.min.css")
        link(rel="stylesheet", href="../public/css/add.css")
        link(rel="stylesheet", href="../public/font-awesome/css/font-awesome.min.css")
        title= title
        
    body
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    block content
    footer.row.justify-content-center
        div.col-md-6
            block footer
                


