/// Required meta tags 
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
//  CSS 
link(href="/css/bootstrap.css", rel="stylesheet")
link(rel="stylesheet", href="/css/register.css")
// favicon
link(rel="icon", href)
// font awesome css
link(rel="stylesheet", href="/font-awesome/css/font-awesome.css")
// document title
title Login || Stay Clean
form(action='/login' method="POST" name='user')
  h2 Welcome To StayClean
  h3 Login
  .labelPosition
    input#texto(type="text", name="username" required)
    label(name="username") Username
  .labelPosition
    input#texto(type="password", name='password' required)
    label(name="password") Password
  .hassan
    input(type="submit", value="Submit")
script(src="/js/validate.js")