
*{box-sizing:border-box;}
body {font-family:'Open Sans', sans-serif;height:100%;background-color:#cccccc}

/*Just to center the Form*/
form {
 height: 100%;
  width: 450px;
  overflow: auto;
  margin: auto; 
  position: absolute; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; }

/* A container to position LABELS */
.labelPosition {
position: relative;
top: auto;
left: auto;
width: auto;
}

input {
  padding:1em;
  margin-bottom:1em;
  border: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
  border-radius:5px;
  width:100%;
}

/* we put label on top of the input*/
label {
position: absolute;
top: 0;
right: 1px;
bottom: 1px;
left: .5em;
z-index: 1;
height: 1em;
font-size: 13px;
line-height: 3.5em;
color: #999;
white-space: nowrap;
cursor: text;
transition:all .1s ease;

}

input:focus ~ label, input:valid ~label {
  font-size:9px;
  font-weight:bold;
  left:5px;
  top:-5px;
}
input:valid ~label {
  color:green;
}
input:focus:invalid ~label{
  color:red;
}

input:required ~label::before {
  
  color:red;
}

input:required:valid ~label::before {
  color:green;
}

